/Practicas/1/Ejercicio1/nbproject/private/
/Practicas/1/Ejercicio1/build/
/Practicas/Ejercicio2/nbproject/private/
/Practicas/Ejercicio2/build/
/Practicas/Ejercicio3/nbproject/private/
/Practicas/Ejercicio3/build/
/Practicas/Ejercicio4/nbproject/private/
/Practicas/Ejercicio4/build/
/Practicas/Ejercicio5/nbproject/private/
/Practicas/Ejercicio5/build/
/Practicas/Ejercicio6/nbproject/private/
/Practicas/Ejercicio6/build/